<!-- Loader script der skal anvendes for denne side-->
<script src="JS/navigation.js"></script>
<!-- laver en kolonne til overskriften-->
<div class="col-sm-4" id="pageHeaderContainer">
    <header>
        <h1>
            <a href="index.html">
                Ajax opgave
            </a>
        </h1>
    </header>
</div>
<!-- laver en kolonne til navigationsbaren-->
<div class="col-sm-8" id="navigationContainer">
    <!-- Laver navigation med bootstrap knapper-->
    <nav>
        <button class="btn btn-secondary">forside</button>
        <button class="btn btn-secondary">opret</button>
        <button class="btn btn-secondary">opdater</button>
        <button class="btn btn-secondary">slet</button>
    </nav>
</div>





